# ==================================
# Stuff I don't want to show
# ==================================

## USE files
USECHROME.txt
USEFIREFOX.txt

## NSIS
Setup.exe

## User things
*.redirect

## Misc.
colorcode.dat
out.txt


# ==================================
# Personal Stuff
# ==================================

Generictemplate.template
*.doc#
gource.bat


# ==================================
# Operating System Trash Files
# ==================================

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Mac
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

